{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">

         <!-- Card content -->
          <div class="card-body"><h4>Calendario de Capacitaciones</h4>
            <div class="d-flex justify-content-center">

                <img class="center" src="{% static 'img/calendar.jpg' %}" width="70%" height="70%" alt="">
            </div>
          </div>

        </div>
        
    </div>
</div>

{% endblock %}