{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}
{% load url_admin from url_actions %}
{% load admin_modify %}
{% load staticfiles %}


{% block content %}
    <div class="content-main">
        <div class="col-md-12">            
            {% block buttons-actions %}
                <div class="submit-row buttons-detail">
                    <a role="button" class="btn btn-info"  style="margin-bottom:22px" href="javascript:history.back()"><i class="fa fa-arrow-left"></i> Atras</a>                    
                    
                    {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
                    <a href="{% add_preserved_filters history_url %}" class="button" style="margin-right:20px;">{% trans "History" %}</a>
                    
                    {% if has_change_permission %}
                        <a class="btn btn-warning" role="button" style="margin-bottom:22px; color:white;" href="{{ object|url_admin:'change' }}">Editar Registro</a>
                    {% endif %}
                    
                    {% if has_delete_permission %}
                        <a class="deletelink float-sm-right" style="margin-bottom:22px;" href="{{ object|url_admin:'delete' }}">Eliminar Registro</a>
                    {% endif %}
                </div>
            {% endblock %}
            <div class="card card-inverse" style="background-color:#2A5B56;">
                <div class="card-block">
                    <div class="card-text" style="color:white;">
                        {% block content-detail %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>       
    </div>
{% endblock %}